body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(135deg, #481089, #000000) border-box;
}

.card {
  border-radius: 15px;
  background: #000000 !important;
  color: #fff;
}
.title {
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
}
.title span {
  color: #963aff;
}
label {
  color: white;
  text-align: left;
}

.card .form-control {
  background: #ffffff !important;
  border: none;
  color: #fff;
  margin: 0px 0px;
}

.card .form-control:focus {
  background-color: #555;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  border: 1px solid #007bff;
}

.card .btn-primary {
  background: linear-gradient(135deg, #963aff, #390970) border-box;
  border-radius: 63px !important;
}

.card .btn-primary:hover {
  background-color: #0056b3;
}
